*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e8e8e8;
  text-align: center;
}

header{
  width: 95%;
  height: 80px;
  background-color: #fff;
  margin: auto;
  border: 2px solid black;
}

main{
  width: 95%;
  height: 2083px;
  background-color: #fff;
  margin: auto;
  border: 2px solid black;
}

footer{
  width: 95%;
  height: 397px;
  background-color: #fff;
  margin: auto;
  border: 2px solid black;
  margin-bottom: 30px;
}